name: "nix-build"
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
    - uses: cachix/cachix-action@v8
      with:
        name: hs-nix-template
        file: ci.nix
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
